body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  color: #2e2e2e;
  background: #fbfafa;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}
#upcover {
  background: url('./resources/upCover.jpg');
  width: 100%;
  margin: 0;
  display: flex;
}
#upcover img {
  width: 100%;
  height: 100%;
  flex: 1;
}
#insta {
  position: absolute;
  right: 20px;
  font-size: 10px;
  color: #fff;
  top: 15px;
}
#insta a {
  color: #fff;
  text-decoration: none;
}
#insta #instacon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: 'ProximaNova-Semibold';
}
#insta #instacon * {
  margin: 0 4px;
}
#nav {
  display: flex;
  height: 100px;
  width: 100vw;
  background: #fff;
  color: 2e2e2e;
}
#nav ul {
  height: 100px;
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 700px;
}
#nav ul li {
  margin: auto;
  font-size: 20pt;
}
#logocover {
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
}
#logocover #logocont {
  margin: auto;
  padding: 0;
  flex: 1;
}
#logocover #logocont * {
  display: block;
  margin: auto;
  text-align: center;
}
#logocover #logocont #logotext {
  font-size: 25pt;
  width: 50%;
  font-weight: 100;
  color: #555559;
  letter-spacing: 0px;
}
.textPad {
  display: flex;
  font-size: 24pt;
  color: #555559;
  background: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
}
.textPad .dashCon {
  width: 5%;
  margin: 25% 0 auto auto;
}
.textPad .dashCon .dash {
  text-align: right;
  margin: 0;
  padding: 0;
}
.textPad .textPadCon {
  margin: 25% 20px auto;
  width: 80%;
}
.textPad .padHeader {
  padding: 4px 0 0 0 ;
  font-family: 'Open Sans Bold ';
  font-size: 24pt;
}
.textPad .padArticle {
  font-family: 'Open Sans Light';
  padding: 45px 0;
  font-size: 18pt;
}
#pads {
  display: grid;
  width: 100%;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0;
}
#pads .foodPad {
  width: 100%;
  height: auto;
  grid-column: 0.33333333;
}
#pads .pad {
  width: 50vw;
  margin: 0;
  padding: 0;
}
footer {
  display: flex;
  height: 80px;
  margin: auto  0;
  justify-content: center;
  font-size: 'ProximaNova-Semibold';
  color: #68686b;
  width: 100%;
}
footer * {
  flex: 1;
  margin: auto 20px;
}
footer #loc {
  text-align: right;
}
#doublePads {
  width: 100%;
  margin: 0;
  padding: 0;
}
#doublePads .doublePad {
  width: 100vw;
  margin: 0;
  padding: 0;
}
#contact {
  display: flex;
  flex-direction: column;
  margin: auto 20%;
  color: #555559;
}
#contact h3 {
  font-size: 24pt;
  margin: 0;
  padding: 0;
}
#contact p {
  font-size: 9pt;
}
#contact form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: white;
  margin-block-end: 100px;
  box-shadow: 2px 4px 4px #bbb;
  border-radius: 4px;
}
#contact form input {
  border: none;
  border-bottom: #2e2e2e 1px solid;
  padding: 4px;
}
#contact form input:focus {
  border-bottom: #faa12d 1px solid;
}
#contact form textarea:focus {
  border: #faa12d 1px solid;
}
#contact form label {
  margin: 15px 0 2px;
  font-size: 9pt;
}
#contact form button {
  width: 100px;
  margin: auto;
}
#contact form textarea {
  border: none;
  border: #2e2e2e 1px solid;
  padding: 4px;
  resize: none;
  border-radius: 3px;
  font-family: 'Open Sans';
  font-size: 10pt;
  width: 90%;
}
#contact form button {
  margin: 20px auto;
  padding: 10px;
  background: #faa12d;
  border: white;
  border-radius: 2px;
  color: white;
  font-family: 'Open Sans';
  text-transform: uppercase;
}
@media (max-width: 700px) {
  body {
    height: 100%;
  }
  body #nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 200px;
  }
  body #nav ul {
    flex: 1;
    list-style-position: inside;
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
  body #nav ul li {
    margin: 10px auto;
    font-size: 14pt;
  }
}
@media (max-width: 800px) {
  body #logocover {
    height: 60vh;
  }
  body #logocover #logocont #logotext {
    font-size: 20pt;
    width: 90%;
    margin: 15px auto;
    font-weight: 100;
    color: #555559;
    letter-spacing: 0px;
  }
  body #pads {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  body #pads .dashCon {
    margin: 10% auto;
  }
  body #pads .textPadCon {
    margin: 10% auto;
  }
  body #pads .pad {
    flex: 1;
    width: 100vw;
  }
  body #pads #pad1 {
    order: 1;
  }
  body #pads #pad2 {
    order: 2;
  }
  body #pads #pad3 {
    order: 4;
  }
  body #pads #pad4 {
    order: 3;
  }
  body #pads #pad5 {
    order: 5;
  }
  body #pads #pad6 {
    order: 6;
  }
  body .textPad {
    margin: 0 auto;
    font-size: 18pt;
  }
  body .textPad .padHeader {
    font-size: 18pt;
  }
  body .textPad .padArticle {
    padding: 24px 0;
    font-size: 9pt;
    font-family: 'Open Sans Light';
  }
  body footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 120px;
    font-size: 9pt;
    color: #68686b;
  }
  body footer * {
    margin: 20px 30px;
    text-align: center;
  }
  body footer #loc {
    text-align: center;
  }
}
